/* .navbar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 325px;
    background: #078080;
    height: 100vh;
  } */
  /* .navigation-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background: #333;
    top: 0;
    right: 0;
    padding-right: 5vw;
    margin-top: 3vh;
  }
  
  .navigation-item {
    margin: 0;
    padding: 20px;
    font-size: 1rem;
  }
  
  .navigation-link {
    color: white;
    text-decoration: none;
  }
  
  .navigation-link:hover {
    text-decoration: underline;
  } */
